* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #2be6ef;
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center; }

h3 {
  font-size: 14pt; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: black; }

header {
  width: 100%;
  background-color: #3c3689; }
  header .menuBar {
    width: 90%;
    margin: 0 auto;
    padding: 5vw 0;
    display: flex;
    justify-content: space-between; }
    header .menuBar .logo {
      width: 15%; }
    header .menuBar .burger {
      text-align: right; }
      header .menuBar .burger .burgerDrop {
        background-color: transparent;
        border: none;
        font-size: 40px;
        color: white; }
      header .menuBar .burger .burgerCnt {
        display: none;
        height: auto;
        width: 100%;
        line-height: 60px;
        font-size: 30px; }
        header .menuBar .burger .burgerCnt a {
          color: white; }

.indexMain {
  width: 90%;
  margin: 0 auto; }
  .indexMain .info {
    padding: 5vw 0; }
    .indexMain .info .flex {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      .indexMain .info .flex p {
        width: 55%; }
      .indexMain .info .flex div {
        width: 40%; }

.indexSlide {
  padding: 5vw 0;
  text-align: center; }
  .indexSlide .indexSlideShow {
    position: relative; }
    .indexSlide .indexSlideShow .slideShow {
      display: none; }
    .indexSlide .indexSlideShow .previous {
      cursor: pointer;
      font-weight: bold;
      font-size: 25px;
      height: 35px;
      width: 25px;
      text-align: center;
      position: absolute;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.4);
      left: 0;
      top: 48%; }
    .indexSlide .indexSlideShow .next {
      cursor: pointer;
      font-weight: bold;
      font-size: 25px;
      height: 35px;
      width: 25px;
      text-align: center;
      position: absolute;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.4);
      right: 0;
      top: 48%; }

.designMain {
  width: 90%;
  margin: 5vw auto; }
  .designMain .flex {
    margin: 5vw 0 7vw 0; }
    .designMain .flex .designObject {
      margin: 5vw 0; }

.designView {
  width: 90%;
  margin: 5vw auto; }
  .designView .flex {
    display: block; }
    .designView .flex div {
      margin: 1vw 0; }

.webH1 {
  margin: 5vw 0 0 0; }

.webMain {
  width: 90%;
  margin: 0 auto 5vw auto; }
  .webMain .webInfo {
    margin: 0 0 5vw 0; }
  .webMain .grid {
    margin: 5vw 0 8vw 0; }
    .webMain .grid .gridObject {
      margin: 5vw 0; }

.videoMain {
  width: 90%;
  margin: 0 auto; }
  .videoMain .videoTitle {
    margin: 5vw 0; }
  .videoMain .flex .videoObject {
    margin: 5vw 0; }
  .videoMain .flex #skelet {
    padding-bottom: 5vw; }

.videoResponsive {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative; }
  .videoResponsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.aboutMain {
  width: 90%;
  margin: 5vw auto; }

.skills {
  margin: 5vw 0; }

.skill {
  margin: 5vw 0; }

.errorPage {
  width: 90%;
  margin: 5vw auto; }

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5vw 0;
  background-color: #3c3689; }
  footer .foot {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between; }
    footer .foot .contactInfo {
      display: grid;
      grid-template: 1fr 1fr / 1fr 2fr;
      font-size: 18px;
      color: white; }
      footer .foot .contactInfo #mail {
        grid-area: 1/1/2/2; }
      footer .foot .contactInfo #mail2 {
        grid-area: 1/2/2/3; }
      footer .foot .contactInfo #tlf {
        grid-area: 2/1/3/2; }
      footer .foot .contactInfo #tlf2 {
        grid-area: 2/2/3/3; }
    footer .foot .soMe {
      margin: auto 0;
      font-size: 40px; }
      footer .foot .soMe a {
        color: white; }

.footerPush {
  display: block;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 5vw 0; }

@media screen and (min-width: 992px) {
  header .menuBar {
    max-width: 1200px;
    padding: 15px 0; }
    header .menuBar .logo {
      width: 80px; }
    header .menuBar .burger {
      align-items: end; }
      header .menuBar .burger .burgerDrop {
        font-size: 50px; }
      header .menuBar .burger .burgerCnt .flex {
        display: flex;
        flex-direction: row; }
        header .menuBar .burger .burgerCnt .flex a {
          padding-left: 25px; }

  .background {
    margin: 5% 0;
    height: auto; }

  .indexMain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1200px;
    max-height: 450px;
    margin: auto; }
    .indexMain .info {
      width: 42.5%;
      padding: 0; }
      .indexMain .info h1 {
        font-size: 28pt; }
      .indexMain .info .flex p {
        width: 40%;
        font-size: 12pt; }
      .indexMain .info .flex div {
        width: 55%; }

  .indexSlide {
    width: 42.5%;
    padding: 0; }
    .indexSlide h2 {
      font-size: 28pt; }
    .indexSlide .indexSlideShow .previous {
      left: 0;
      top: 50%; }
    .indexSlide .indexSlideShow .next {
      right: 0;
      top: 50%; }

  .designMain {
    max-width: 1200px; }
    .designMain .designTitle p {
      width: 40%;
      margin: 0 auto; }
    .designMain .flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      max-height: 700px;
      margin: 50px 0; }
      .designMain .flex .designObject {
        width: 47.5%;
        margin: 0; }

  .designView {
    max-width: 1200px;
    margin: 50px auto; }
    .designView .flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .designView .flex div {
        width: 47.5%;
        margin: 25px 0; }

  .webH1 {
    margin: 50px 0 0 0; }

  .webMain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 50px auto; }
    .webMain .webInfo {
      width: 25%;
      margin: 0;
      padding-top: 75px; }
    .webMain .grid {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      grid-row-gap: 3%;
      grid-column-gap: 3%;
      width: 70%;
      margin: 50px 0 30px 0; }
      .webMain .grid .gridObject {
        margin: 0; }

  .videoMain {
    max-width: 1200px; }
    .videoMain .videoTitle {
      margin: 50px 0; }
      .videoMain .videoTitle p {
        margin: 0 auto;
        width: 60%; }
    .videoMain .flex {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between; }
      .videoMain .flex .videoObject {
        width: 47.5%;
        margin: 0 0 50px 0; }
      .videoMain .flex #skelet {
        padding-bottom: 0; }

  .aboutMain {
    max-width: 1200px;
    margin: 50px auto 0 auto; }

  .skills {
    margin: 20px 0; }
    .skills .grid {
      width: 100%;
      display: grid;
      grid-template: repeat(5, 210px)/1fr 1fr 1fr;
      grid-column-gap: 5%;
      grid-row-gap: 5%; }
      .skills .grid #skillsApps {
        width: 100%;
        grid-area: 3 / 1 / 4 / 2; }
      .skills .grid #skillsWide {
        width: 100%;
        grid-area: 1 / 1 / 2 / 2; }
      .skills .grid #skillsDesign {
        width: 100%;
        grid-area: 1 / 2 / 5 / 3; }
      .skills .grid #skillsWeb {
        width: 100%;
        grid-area: 1 / 3 / 5 / 4; }

  .errorPage {
    max-width: 1200px;
    display: flex;
    justify-content: space-between; }
    .errorPage .errorDiv {
      width: 47.5%; }
      .errorPage .errorDiv .indexSlide {
        width: 100%; }

  footer {
    padding: 15px 0; }
    footer .foot {
      max-width: 1200px; }

  .footerPush {
    margin: 0; } }

/*# sourceMappingURL=styles.css.map */
